
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% include 'base/css.html' %}
    

    <!-- navebar block -->

    {% include 'base/navebar.html' %}
   
    <title>Django Blog</title>
  </head>
  <body>

    
    <!-- blog_home.html block -->

    {% block blog_home_block %}
                            
    {% endblock blog_home_block %}
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    {% include 'base/js.html' %}

  </body>

  

</html>